.ulContainer li {
    float: left;
    display: block;
    padding: 10px 30px 10px 30px;
}

.ulContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff9d5;
}
